body, html {
    height: 100%;
    margin: 0;
}
.bg {
    background-image: url("./img/background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    font-size: 150px;
}
#animate {
    width: 250px;
    height: 250px;
    position: absolute;
}
.startBtn{
    margin-top: 10%;
    border-radius: 8px;
    width: 15%;
    height: 10%;
    background-color: red;
    font-size: 40px;
    color: white;
}
.backBtn{
    border-radius: 8px;
    width: 15%;
    height: 10%;
    background-color: gray;
    font-size: 40px;
    color: white;
}
.lb{
    font-size: 100px;
    color: black;
    margin-left: 3%
}
.sc{
    font-size: 50px;
    color: black;
    float: right;
}
.ans{
    font-size: 90px;
    width: 200px;
    height: 80px;
    margin-left: 3%
}
.container{
    border-style: solid;
    margin-left: 20%;
    margin-right: 20%;
}